[submodule "front-end"]
	path = front-end
	url = https://github.com/LautaroJayat/webee_test_front_end
[submodule "back-end"]
	path = back-end
	url = https://github.com/LautaroJayat/webee_test_backend
